@charset "utf-8";
/* CSS Document */

@media only screen and (-webkit-min-device-pixel-ratio: 2){html{-webkit-text-size-adjust:none}}
body { font: 1em/16em;font-size:75%; }
    body * {-webkit-appearance:none; }

body,div,p,h1,h2,h3,h4,h5,h6,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,table,th,td{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,em,i{font-style:normal;}li{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:underline;}legend{color:#000;}fieldset,img{border:0;}table{border-collapse:collapse;border-spacing:0;}input[type="button"],input[type="submit"],input[type="reset"]{cursor:pointer;}
body { font-family:"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,Helvetica,arial,sans-serif,simsun,"宋体";
       color:#000;
}

.clearfix:after,.wrapper:after  { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* misc */
.tl { text-align:left;}
.tc { text-align:center;}
.tr { text-align:right;}
.fl { float:left;}
.fr { float:right;}
.middle *{ display:inline-block;vertical-align:middle;}
.middle option{ display:block;}
.f20 { font-size:20px;}
.f16 { font-size:16px;}
a { cursor:pointer;}
a.link { color:#1e8af1;}
    a:hover{ text-decoration:none;}
    a.link-blue { color:#1e8af1;}
    a.link-blue:visited { color:#1e8af1;}
.mt5 { margin-top:5px;}
.mt10 { margin-top:10px;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px;}
.mt25 { margin-top:25px;}
.mt30 { margin-top:30px;}
.mt60 { margin-top:60px;}
.ml5 { margin-left:5px;}
.ml10 { margin-left:10px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml40 { margin-left:40px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr20 { margin-right:20px;}
.mr30 { margin-right:30px;}
.mb30 { margin-bottom:30px;}
.pt20 { padding-top:20px;}
.f12 { font-size:12px;}
.f14 { font-size:14px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}

.layout-box { 
              display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex; 
}
.layout-between {  -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
.triangle{
    display:inline-block;
    width:0;
    height:0;
    border-width:5px;
    border-style:solid;
    border-color:#e66161 #f3bb5b #94e24f #85bfda;
}
input[type=checkbox] { -webkit-appearance:checkbox;}

/* btn */
.btn{border:none;cursor:pointer;vertical-align:middle;display:inline-block; text-align:center;font-size:12px;text-decoration:none;-moz-transition: all .2s; -o-transition: all .2s; -webkit-transition: all .2s; transition: all .2s; color:#fff;overflow:hidden;}
.btn:hover{color:#fff;text-decoration:none;}
.btn-audio-play { background:#ff5454 url(../images/icon-2.png) no-repeat; width:29px;height:29px;border-radius:50%;outline:none; -moz-background-size:50px 500px; -o-background-size:50px 500px; -webkit-background-size:50px 500px; background-size:50px 500px;}
.btn-h56 { height:28px;line-height:28px;text-align:center;background:#ff5454;border:1px solid #e0e0e0;font-size:1em;color:#f6f6f6;border-radius:5px;}

/* txtbox */
.txtbox {border:1px solid #ddd; padding:12px 0; color:#333;font-size:1.5em;
		-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;
		-webkit-transition: -webkit-box-shadow 0.2s linear;
	    -o-transition: -o-box-shadow 0.2s linear;
	    -moz-transition: -moz-box-shadow 0.2s linear;
	    -ms-transition: -ms-box-shadow 0.2s linear;
	    -kthtml-transition: -kthtml-box-shadow 0.2s linear;
	    transition: box-shadow 0.2s linear;
}
.txtbox:focus{ border:1px solid #8cb2d9;
	-webkit-box-shadow: 0px 0px 4px #d3e6fb;
    -moz-box-shadow: 0px 0px 4px #d3e6fb;
    box-shadow: 0px 0px 4px #d3e6fb;
}


/* icon */
.icon { display:inline-block; background: url(../images/icon.png) no-repeat; overflow:hidden; -moz-background-size:20px 250px; -o-background-size:20px 250px; -webkit-background-size:20px 250px; background-size:20px 250px;}
.icon-search { width:20px; height:20px; background-position:0 0; }
.icon-user { width:20px; height:20px; background-position:0 -20px; }
.icon-like { width:20px; height:20px; background-position:0 -70px; }
.icon-share { width:20px; height:20px; background-position:0 -90px; }
.icon-watched,.icon-liked{display:inline-block;background: url(../images/statistic.png) 0 3px no-repeat; padding-left:9px;font-size:7px;-moz-background-size:6px 18px; -o-background-size:6px 18px; -webkit-background-size:6px 18px; background-size:6px 18px;}
.icon-watched{background-position: 0 0px;}
.icon-liked{background-position: 0 -12px;}
.statistic-wrap { font-size:7px;line-height:7px; }
.statistic-wrap:after  { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.statistic-wrap span{float:left;}
.statistic-wrap span.split{padding:0 3px;}

/* table */
table {table-layout:fixed;width:100%;background:#fff;}
table tr td,table tr th { padding:0 5px 0 5px;}

/* layout */
.site-top { height:50px;line-height:50px;background:#272727;padding:0 15px;color:#fff;text-align:center; }
.site-top .btnback{ background:#272727;display:inline-block;width:7px;height:13px; margin-top:18px; background: url(../images/icon.png) 0 -110px no-repeat; -moz-background-size:20px 250px; -o-background-size:20px 250px; -webkit-background-size:20px 250px; background-size:20px 250px;}
.site-top .page-title { font-size:1.33em; display:inline-block; }
.site-top .menu-more { display:inline-block;width:22px;height:21px;margin-top: 18px;}
.index-top { height:20px;padding:30px 15px 30px 25px; color:#fff;background: url(../images/index-top.png) no-repeat;-moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover;}
.index-top .logo{ font-size:1.5em;float:left;line-height:18px;}
.index-top .type{ font-size:1em;display:inline-block;height:18px;line-height:18px;width:83px;text-align:center;border:1px solid #fff;margin-left:10px;float:left;}
.index-top .icon-search{ margin-left:10px;}
.index-nav { -webkit-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
.index-nav a{ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1;background:#f6f6f6;border:1px solid #e0e0e0;border-left:0; color:#666;height:28px;padding-top:46px;text-align:center;background: url(../images/index-nav.png) 50% 0 no-repeat;-moz-background-size:46px 222px; -o-background-size:46px 222px; -webkit-background-size:46px 222px; background-size:46px 222px;}
.index-nav a:last-child{ border-right:0;}
.index-nav a.video{ background-position:50% 0;}
.index-nav a.audio{ background-position:50% -74px;}
.index-nav a.article{ background-position:50% -148px;}
.index-view-all { padding:16px;text-align:center; }
.index-view-all .btn{ color:#ff5454;font-size:1.25em;height:44px;line-height:44px; width:140px;text-align:center; border-radius:5px;border:1px solid #e0e0e0;}
.video-item { position:relative;height:175px;-moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover;}
.video-item h2{font-weight:normal;margin:15px 0 0 18px;font-size:1.25em;}
.video-item p{margin:0 0 0 18px;color:#999;}
.video-item p span.watched,.video-item p span.like{display:inline-block;background: url(../images/statistic.png) 0 3px no-repeat; padding-left:15px;}
.video-item p span.watched{background-position: 0 3px;}
.video-item p span.like{background-position: 0 -21px;}
.video-item .control{ width:30px;width:136px;position:absolute;bottom:0;left:0;}
.video-item .control .zoom{ display:inline-block;float:left;width:30px;height:30px;background:#302a27 url(../images/icon.png) 50% -40px no-repeat; overflow:hidden; -moz-background-size:20px 250px; -o-background-size:20px 250px; -webkit-background-size:20px 250px; background-size:20px 250px;}
.video-item .control .time{ display:inline-block;float:left;width:98px;height:30px;padding-left:8px;line-height:30px; background:#60bbe6;opacity:0.8;color:#fff;font-size:1em;font-family:Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;}
.video-item video{ position:absolute;top:0;left:0;display:none;height:175px;background:#000;}
.index-audio { padding:5px;background:#f6f6f6;border:1px solid #e0e0e0;}
.index-audio .art-work{ width:80px;height:80px;-moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover; background-position:50% 50%;}
.index-audio .audio-info{ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1;padding-left:15px;height:80px; }
.index-audio .audio-info-row-1 { padding-top:6px; }
.index-audio .audio-info-row-1 .info{ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; }
.index-audio .audio-info-row-1 div .title{ font-size:1em; }
.index-audio .audio-info-row-1 div .time{ font-size:.75em; }
.index-audio .audio-info-row-1 div .tools{ width:40px; }
.index-audio .audio-info .waveform{ padding:7px 0; position:relative;}
    .index-audio .audio-info .waveform span.time { display: inline-block; position: absolute; bottom: 15px; right: 0; height: 10px; line-height: 10px; padding: 0 4px; background: #000; color: #999; font-size: 8px; z-index: 10; border-radius: 3px; }
.index-list-item { width:50%; }
.index-list-item .pic{ display:inline-block;width:100%;height:130px; -moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover;background-position:50% 50%; }
.index-list-item .desc{ padding:7px 0 7px 7px; }
.index-list-item .desc p{ padding-bottom:5px; }
.index-finder { padding:30px 0;background:#ff5454;text-align:center;color:#fff;}
.index-finder h2{ font-size:1.25em;font-weight:normal;}
.index-finder div{ margin-top:13px;}
.index-finder .btn{ width:120px;}
/* 个人中心 */
.profile-block { position:relative; height:156px;padding-top:16px;-moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover; text-align:center;}
.profile-block .avatar{ display:block;width:82px;height:82px;margin:0 auto; border-radius:50%; -moz-background-size:cover; -o-background-size:cover; -webkit-background-size:cover; background-size:cover; }
.profile-block p{ color:#fff;}
.profile-block .name{ font-size:1.17em;padding-top:13px;}
.profile-block .phone{ font-size:1em;color:#a5a5a5;}
.profile-block .gender{ font-size:.92em;}
.profile-block .gender span{ margin:10px;}

.site-footer { padding:30px 15px 10px 15px; }
.site-footer div{ border-top:1px solid #dcdcdc;padding:15px 0 4px 0;text-align:center;font-size:.83em;color:#6b6b6b;}

/* misc */
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
to{transform: rotate(359deg)}
}
.loading { display:inline-block;width:17px;height:17px;background: url(../images/loading.png) no-repeat;-moz-background-size:17px 17px; -o-background-size:17px 17px; -webkit-background-size:17px 17px; background-size:17px 17px;
           -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            -moz-transition-property: -moz-transform;
            -moz-transition-duration: 1s;
            -webkit-animation: rotate 1s linear infinite;
            -moz-animation: rotate 1s linear infinite;
            -o-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite;
}
.loading-wrap { padding:9px 0;border-top:1px solid #e6e6e6;}


